name: Deploy to Vercel

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check actor and deploy
        if: github.actor != 'AbdulazizSulaymon'
        run: curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_p2WpW1axS5cpRI0UCasubPlXMQRw/prTWLOt36j
